<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockShop2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37B891831E4EC0FC005320A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37B891971E4EC0FC005320A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37B891A21E4EC0FC005320A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
